.container {
  display: flex;
  flex-direction: column;
}

.chart-title {
  margin: 0 auto 24px;
}

.table-head_row {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.table-head_title,
.table-body_data {
  width: 260px;
  padding: 4px 60px 4px 60px;
  text-align: center;
  background-color: rgb(235, 235, 235);
}

.data-title,
.head-title {
  width: 320px;
  text-align: left;
  padding: 4px 12px;
}

.table-body_data {
  cursor: pointer;
}
