.container {
  display: flex;
  flex-direction: column;
  outline: 1px solid rgb(0, 0, 0);
}

.chart-title {
  margin: 0 auto 24px;
}

.table-head_row {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.table-head_title {
  padding: 4px 60px 4px 60px;
  background-color: rgb(235, 235, 235);
}
